html {
  height: 100%;
  margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    position: relative;
    margin:0px;
    min-height: 100%;
    text-align: center;
}

header {
  background-color: lightgrey;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.body {
  font-size: 25px;
  font-style: italic;
  padding: 10rem;
  color: grey;
}
