html {
  height: 100%;
  margin: 0px;
  width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-height: 100%;
}

header {
  background-color: lightgrey;
}

footer {
  background-color: lightgrey;
  bottom: 0;
  height: 2.5rem;
}

.link {
  margin-bottom: 2.5rem;
}

.joke {
  font-size: 25px;
  font-style: italic;
  padding: 10rem;
}
