<!DOCTYPE html>
<html>
  <head>
    <title>Joke App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>

    <header class="header">
      <h1>Two-Liner of the Day</h1>
    </header>

    <div class="content">
    {% block content %}

    {% endblock %}
    </div>

    <footer class="footer">
      <a href="{{ url_for('secondPage') }}">What's the punchline?</a>
    </footer>

  </body>
</html>
